// Boğaziçi color palette
$primary: #1e4a8b;
$secondary: #8cc8ea;

@import "bootstrap/_functions";

$body-bg: #fff;
$body-color: #111;

$component-active-bg: $primary;
$component-active-color: $body-bg;

$table-hover-bg: $primary;
$table-hover-color: $body-bg;

$list-group-hover-bg: $primary;
$list-group-hover-color: $body-bg;

@import "bootstrap/bootstrap";
