// Boğaziçi color palette
$primary: #1e4a8b;
$secondary: #8cc8ea;

$color-gray-10: #f4f4f4;
$color-gray-90: #262626;
$color-gray-100: #161616;

$nord4: #d8dee9;
$nord5: #e5e9f0;
$nord6: #eceff4;

$light: $nord5;

@import "bootstrap/_functions";

$body-bg: $light;

// $component-active-bg: $primary;
// $component-active-color: $body-bg;

$table-hover-bg: $primary;
$table-hover-color: $body-bg;

$list-group-hover-bg: $primary;
$list-group-action-color: $light;
$list-group-active-bg: $secondary;
$list-group-active-color: $primary;

$font-size-base: 1.1rem;
$badge-border-radius: 0;

@import "bootstrap/bootstrap";

#newsroom .card:hover {
    // transform: scale(1.03);
    box-shadow: 0px -2px 40px 2px rgba(0, 0, 0, 0.2);
}

#event-board .card:hover {
    // transform: scale(1.03);
    box-shadow: 0px -2px 40px 2px rgba(0, 0, 0, 0.2);
}