{{ define "main" }}

<div class="container">
  <div class="row">

    <div class="col-xl-4 order-xl-5 offset-xl-1 mb-4">
      <div class="page-links">
        <h6>{{ i18n "on-this-page" | title }}</h6>
        {{ .TableOfContents }}
      </div>
      <div class="d-none d-xl-block">
        {{ partial "edit-this-content.html" . }}
      </div>
    </div>

    <div class="col-xl-6 px-3">
      <article>
        <h1 class="display-6 mb-4">{{ .Title | title }}</h1>
        <div class="content text-left">
          {{ .Content }}
        </div>
      </article>
    </div>
  </div>
</div>

{{ end }}