{{ define "main" }}


{{ $image_path := .Params.image_path }}
{{ $image_resource := 0 }}
{{ $wide_layout := .Params.wide_layout | default false }}

{{ if $image_path }}
{{ $image_resource = resources.Get $image_path }}

{{ if $image_resource }}
{{ $settings := site.Params.single.image_settings | default "1600x900 webp q90 Smart"}}
{{ $retouched := $image_resource.Fill $settings }}
{{ $image_path = $retouched.RelPermalink }}
{{ end }}


{{ end }}

<article>
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <hgroup class="my-4">
          <h1 class="display-6">{{ .Title | title }}</h1>
          <p class="lead">{{ .Description }}</p>
        </hgroup>
      </div>
    </div>

    {{ if $image_resource }}
    <div class="row">
      <div class="col-xl-10">
        <figure class="figure my-4">
          <img src="{{ $image_path }}" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption text-end">{{ .Params.image_caption }}</figcaption>
        </figure>
      </div>
    </div>
    {{ end }}

    <div class="row gx-5">
      {{ if $wide_layout }}
      <div class="col-xl-10 mb-4">
      {{ else }}
      <div class="col-xl-6 mb-4">
      {{ end }}
        {{ .Content }}
      </div>

      <div class="col-xl-4">
        {{ with .Params.links }}
        <h6>{{ i18n "links" | title }}</h6>
        <ul class="list-group list-group-flush">
          {{ range . }}
          <li class="list-group-item bg-light"><a href="{{ .href }}">{{- .text | title -}}</a></li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>

  </div>

</article>

{{ if .Page.Store.Get "hasMermaid" }}
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
  mermaid.initialize({ startOnLoad: true });
</script>
{{ end }}

{{ end }}