{{ define "main" }}

{{ $image_path := .Params.image }}
{{ $image_settings := site.Params.news.image_settings | default "1600x900 webp q90 Smart"}}

{{ $image_resource := .Resources.Get $image_path }}

{{ if $image_resource }}
{{ $retouched := $image_resource.Fill $image_settings }}
{{ $image_path = $retouched.RelPermalink }}
{{ end }}

<article>
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <hgroup class="my-4">
                    <h1 class="display-6 ">{{ .Title | title }}</h1>
                    <p class="lead">{{ .Description }}</p>
                </hgroup>
            </div>
        </div>

        {{ if $image_resource }}
        <div class="row">
            <div class="col-xl-10">
                <figure class="figure my-4">
                    <img src="{{ $image_path }}" class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption text-end">{{ .Params.image_caption }}</figcaption>
                </figure>
            </div>
        </div>
        {{ end }}

        <div class="row gx-5">
            <div class="col-xl-6 mb-4">
                {{ .Content }}
            </div>
            <div class="col-xl-4">
                {{ with .Params.links }}
                <h6>{{ i18n "links" | title }}</h6>
                <ul class="list-group list-group-flush">
                    {{ range . }}
                    <li class="list-group-item bg-light"><a href="{{ .href }}">{{- .text | title -}}</a></li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
        </div>

    </div>

</article>
{{ end }}