{{ $image_path := site.Params.logo }}
{{ $image_resource := resources.Get $image_path }}

{{ if $image_resource }}
{{ $image_settings := "200x200 webp q90 Smart" }}
{{ $retouched := $image_resource.Fill $image_settings }}
{{ $image_path = $retouched.RelPermalink }}
{{ end }}

<div class="d-none d-lg-block mt-5">
    <div class="d-flex">
        <img class="logo me-4 " src="{{ $image_path }}" width="80px" height="80px">
        <hgroup>
            {{ with .Site.Params.logo_text_top }} <h4>{{- . -}}</h4> {{ end }}
            {{ with .Site.Params.logo_text_main }} <h1>{{- . -}}</h1> {{ end }}
            <h6></h6>
        </hgroup>
    </div>
</div>