<head>
    <meta charset="utf-8">
    <meta name="author" content="{{ site.Params.author }}">
    <meta name="description"
        content="{{ with .Params.description }} {{.}} {{else}} {{ with site.Params.description }} {{.}} {{end}} {{end}}">

    {{ "<!-- mobile responsive meta -->" | safeHTML}}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

    <title>{{ .Title }}</title>

    <!-- Bootstrap CSS -->
    {{ partialCached "bootstrap-css.html" . }}

</head>