{{ $menu_name := "main"}}

<nav class="navbar navbar-expand-lg navbar-light d-none d-lg-block">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {{ $current := . }}
            {{ range $index, $menu := index site.Menus $menu_name }}
            {{ $active := or ($current.IsMenuCurrent $menu_name .) ($current.HasMenuCurrent $menu_name .) }}
            {{ if .HasChildren }}
            <li class="nav-item dropdown me-4" style="position:static!important;">
                <a class="nav-link dropdown-toggle {{ if $active }}active{{ end }}" href="#" id="navbarDropdown"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ .Name }}
                </a>
                <div class="dropdown-menu p-5 rounded-3 bg-white shadow-lg" role="menu"
                    style="left:-1rem; right:-1rem; backdrop-filter: blur(20px); --bs-bg-opacity: .95;">
                    <h1 class="display-6 mb-5 text-muted">{{- .Name | markdownify -}}</h1>
                    <div class="row row-cols-1 row-cols-md-4 g-5">
                        {{ range .Children }}
                        <div class="col">
                            <div class="card border-0 bg-transparent">

                                {{/*  If the menu entry declares an image */}}
                                {{ if .Params.image_path }}
                                {{ $image_resource := resources.Get .Params.image_path }}
                                {{ $image_settings := site.Params.megamenu.image_settings | default "400x225 webp q90 Smart"}}
                                {{ if $image_resource }}
                                {{ $retouched := $image_resource.Fill $image_settings }}
                                {{ $image_path := $retouched.RelPermalink }}
                                {{ $image_caption  := .Params.image_caption | default "" }}
                                <div class="mb-4">
                                    <img src="{{ $image_path }}" class="card-img-top" alt="{{ $image_caption }}">
                                </div>
                                {{ end }}
                                {{ end }}

                                {{ if .Name }}
                                <h5 class="card-title">
                                    <a class="stretched-link text-dark text-decoration-none"
                                        href="{{ .URL | relLangURL }}">
                                        {{- .Name | markdownify -}}
                                    </a>
                                </h5>
                                {{ end }}

                                {{/*  If the menu entry declares an description */}}
                                {{ with .Params.description }}
                                <div class="card-body" style="transform: rotate(0);">
                                    <p class="card-text">{{- . | markdownify -}}</p>

                                </div>
                                {{ end }}

                                {{/*  If the menu entry has children  */}}
                                {{ if .HasChildren }}
                                <ul class="list-group list-group-flush">
                                    {{ range .Children }}
                                    <li
                                        class="list-group-item list-group-item-action bg-transparent d-flex  align-items-center">
                                        {{/*  {{ with .Params.icon }}
                                        <img src="/icons/{{.}}.svg" alt=" location:" width="18" height="18" role="img">
                                        {{ end }} */}}
                                        <a class="nav-link stretched-link"
                                            href="{{ .URL | relLangURL }}">{{- .Name | markdownify -}}</a>
                                    </li>
                                    {{ end }}
                                </ul>
                                {{ end }}
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </li>
            {{ else }}
            <li class="nav-item me-3">
                <a class="nav-link {{ if $active }}active{{ end }}" href="{{ .URL | relLangURL }}">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </div>
</nav>
