{{ $news := where site.RegularPages.ByDate.Reverse "Section" "news" }}
{{ if $news }}
    <section id="newsroom">
        <h1 class="display-6 my-4">{{ i18n "latest-news" | title }}</h1>
        <section id="tier1" class="row mb-4">
            <div class=" col">
                {{ range $index, $element := first 1 $news }}
                    {{ partial "news/news-card-first.html" . }}
                {{ end }}
            </div>
        </section>

        <section id="tier2" class="row row-cols-1 row-cols-md-2 g-4 mb-4">
            {{ range $index, $element := first 4 (after 1 $news) }}
                <div class=" col">
                    {{ partial "news/news-card.html" . }}
                </div>
            {{ end }}
        </section>

        <section id="tier3" class="row row-cols-1 row-cols-md-3 g-4 mb-4">
            {{ range $index, $element := first 6 (after 5 $news) }}
                <div class=" col">
                    {{ partial "news/news-card.html" . }}
                </div>
            {{ end }}
        </section>
    </section>
{{ end }}