{{ define "main" }}

{{ if site.Params.banner.enabled }}
<section id="site-banner">
    <div class="container">
        {{ partial site.Params.banner.layout . }}
    </div>
</section>
{{ end }}

<div class="container">
    <div class="row">
        <div class="col-xl-4 order-xl-5 mb-5">
            {{ if site.Params.eventBoard.enabled }}
                {{ partial "event-board.html" . }}
            {{ end }}
        </div>
        <div class="col-xl-8">
            {{ if site.Params.newsroom.enabled }}
                {{ partial "newsroom.html" . }}
            {{ end }}
        </div>
    </div>
</div>

{{ end }}