{{ define "main" }}

{{ $news := where site.RegularPages.ByDate.Reverse "Section" "news" }}
{{ $events := where site.RegularPages.ByExpiryDate "Section" "events" }}

{{ if site.Params.banner.enabled }}
<section id="site-banner">
    <div class="container">
        {{ partial site.Params.banner.layout . }}
    </div>
</section>
{{ end }}

<div class="container">
    <div class="row">
        <section id="event-board" class="col-xl-4 order-xl-5 mb-5">
            {{ if $events }}
            <h1 class="display-6  mb-4">{{ i18n "upcoming-events" | title }}</h1>
            {{ end }}
            <div class="row row-cols-1 g-2">
                {{ range (first 6 $events) }}
                <div class="col">
                    {{ partial "events/event-card.html" . }}
                </div>
                {{end}}
            </div>
        </section>
        <section id="newsroom" class="col-xl-8">
            <h1 class="display-6 mb-4">{{ i18n "latest-news" | title }}</h1>
            <section id="tier1" class="row mb-3">
                <div class=" col">
                    {{ range $index, $element := first 1 $news }}
                    {{ partial "news/news-card-first.html" . }}
                    {{ end }}
                </div>
            </section>

            <section id="tier2" class="row row-cols-1 row-cols-md-2 g-4 mb-5">
                {{ range $index, $element := first 4 (after 1 $news) }}
                <div class=" col">
                    {{ partial "news/news-card.html" . }}
                </div>
                {{ end }}
            </section>

            <section id="tier3" class="row row-cols-1 row-cols-md-3 g-1 mb-5">
                {{ range $index, $element := first 6 (after 5 $news) }}
                <div class=" col">
                    {{ partial "news/news-card.html" . }}
                </div>
                {{ end }}
            </section>
        </section>
    </div>
</div>

{{ end }}