{{ $image_path := .Params.image | default "/images/thumbnail.svg" }}
{{ $image_settings := site.Params.news.image_settings | default "900x500 webp q90 Smart"}}

{{ $image_resource := .Resources.Get $image_path }}

{{ if $image_resource }}
{{ $retouched := $image_resource.Fill $image_settings }}
{{ $image_path = $retouched.RelPermalink }}
{{ end }}

<div class="card border-0 h-100">
    <img src="{{ $image_path }}" class="card-img-top rounded" alt="...">
    <div class="card-body p-4">
        <a href="{{ .RelPermalink }}" class="stretched-link text-muted text-decoration-none">
            {{ i18n .Type | upper }}
        </a>
        <h4 class="card-title">{{ title .Title }}</h4>
    </div>
</div>