{{ $image_path := .Params.image | default "/images/thumbnail.svg" }}
{{ $image_settings := site.Params.news.image_settings | default "900x500 webp q90 Smart"}}

{{ $image_resource := .Resources.Get $image_path }}

{{ if $image_resource }}
{{ $retouched := $image_resource.Fill $image_settings }}
{{ $image_path = $retouched.RelPermalink }}
{{ end }}

<div class="card border-0 h-100">
    <img src="{{ $image_path }}" class="card-img-top rounded" alt="...">
    <div class="card-body p-4">
        <p><small>{{ i18n "news" | upper }}</small></p>
        <h4 class="card-title">{{ title .Title }}</h4>
    </div>
    <div class="card-footer border-0 bg-white text-end">
        <a href="{{ .RelPermalink }}" class="card-link stretched-link ">
            <small>{{ i18n "details" | title }}</small>
        </a>
        {{/*  <img src="/icons/arrow-right.svg" alt="{{ .Title }}" width="16" height="16"> */}}
    </div>
</div>