{{ define "main" }}

{{ $ctx := newScratch }}
{{ $ctx.Set "courses" slice }}

{{ range $key, $value := site.Data.courses }}
{{if intersect $value.categories (slice "cmpe") }}
{{ $ctx.Set "courses" ($ctx.Get "courses" | append $value) }}
{{ end }}
{{ end }}
{{ $courses := $ctx.Get "courses" }}

{{ $lang := site.Language.Lang }}

<!-- Course panes -->
<div class="container">
    <div class="row">
        <h1 class="display-6 my-4">{{ .Title | title }}</h1>
    </div>
    <div class="row mb-4">
        <div class="col-xl-6 ">
            <div class="list-group list-group-flush " id="course-list" role="tablist">
                {{ range $courses }}
                {{ $language := index .languages $lang}}
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#{{- .id -}}" role="tab">
                    <div class="row">
                        <div class="col-lg-3">
                            <strong>{{ .id | upper }}</strong>
                        </div>
                        <div class="col-lg-9">
                            {{ $language.title }}
                        </div>
                    </div>

                </a>
                {{ end }}
            </div>
        </div>
        <div class="col-xl-6">
            <div class="tab-content">
                {{ range $courses }}
                {{ $language := index .languages $lang}}
                <div class="tab-pane" id="{{- .id -}}" role="tabpanel">
                    <div class="card">
                        <div class="card-header text-muted">{{ i18n "cmpe-long" | title }}</div>
                        <div class="card-body">
                            <hgroup class="mb-4">
                                <h3 class="display-6 mb-2 text-muted">{{- .id | upper -}}</h3>
                                <h2 class="card-title">{{- $language.title -}}</h2>
                            </hgroup>
                            <h6 class="mb-2">{{ i18n "course-description" | title }}</h6>
                            <p class="card-text ps-3">{{ $language.description }}</p>

                            <h6 class="mb-2">{{ i18n "course-prerequisites" | title }}</h6>
                            <ul class="list-group list-group-flush">
                                {{ if .prerequisites }}

                                {{ range .prerequisites }}
                                <li class="list-group-item">{{ . | upper }}</li>
                                {{ end }}
                                {{ else }}
                                <li class="list-group-item">{{ i18n "course-no-prerequsites" | humanize }}</li>
                                {{ end }}
                            </ul>

                        </div>
                    </div>

                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}